@use "./variables.scss";

#careers-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.career-menu {
  border-bottom: 1px dashed #aad6be;
  display: block;
  padding: 10px;
  margin: 10px 0;
}

.increase-height {
  height: 1030px;
  width: 100%;
  transition: height 0.1s linear;
}
